Thomas Richner <mail@trichner.ch>
Thomas Richner <mail@trichner.ch> <thomasrichner@oviva.ch>
Thomas Richner <mail@trichner.ch> <thomas.richner@oviva.com>
Thomas Richner <mail@trichner.ch> <trichner@users.noreply.github.com>
Thomas Richner <mail@trichner.ch> <github@trichner.ch>

Raoul Zander <hello@rza.io>
Raoul Zander <hello@rza.io> <r-zander@users.noreply.github.com> 
Raoul Zander <hello@rza.io> <XievenLonger@users.noreply.github.com>
Raoul Zander <hello@rza.io> <raoulzander@oviva.com>

Gino <Xyckno@gmail.com>
