#developPanel {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1em;
  min-width: 16em;
  z-index: 1000;
}
#developPanel > :first-child {
  margin-top: 0;
}
#developPanel > h2 {
  font-size: 1.2em;
}
#developPanel > table td,
#developPanel > table th {
  padding: 0.15em 0.25em;
}
#developPanel > table > tbody th {
  text-align: right;
  padding-right: 0.5em;
}
#developPanel > table > tbody > tr.separatorRow > th {
  text-align: center;
  padding-right: 0.25em;
}
#developPanel > table > tbody td {
  min-width: 6.35em;
}
#developPanel .good {
  color: #4CAF50;
}
#developPanel .neutral {
  color: #03A9F4;
}
#developPanel .bad {
  color: #F44336;
}
#developPanel .toggleButton {
  color: white;
}
#developPanel .toggleButton > .label::after {
  content: ':';
}
#developPanel .toggleButton.on {
  background-color: #4CAF50;
}
#developPanel .toggleButton.off {
  background-color: #F44336;
}
