#developPanel {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1em;
  min-width: 16em;
  z-index: 1000;
}
#developPanel > :first-child {
  margin-top: 0;
}
#developPanel > h2 {
  font-size: 1.2em;
}
#developPanel > table td,
#developPanel > table th {
  padding: 0.15em 0.25em;
}
#developPanel > table > tbody th {
  text-align: right;
  padding-right: 0.5em;
}
#developPanel > table > tbody > tr.separatorRow > th {
  text-align: center;
  padding-right: 0.25em;
}
#developPanel > table > tbody td {
  min-width: 6.35em;
}
#developPanel > table > tbody td > h3 {
  font-size: inherit;
  text-align: center;
  margin-bottom: 0;
}
#developPanel .good {
  color: #4CAF50;
}
#developPanel .neutral {
  color: #03A9F4;
}
#developPanel .bad {
  color: #F44336;
}
.toggleButton {
  color: white;
}
.toggleButton > .label::after {
  content: ':';
}
.toggleButton.on {
  background-color: #4CAF50;
}
.toggleButton.off {
  background-color: #F44336;
}
.actionButton {
  color: white;
  background-color: #03A9F4;
}
dl.flatList {
  float: left;
  width: 100%;
  clear: both;
  margin: 0;
}
dl.flatList > dt,
dl.flatList dd {
  float: left;
}
dl.flatList > dt {
  clear: left;
}
dl.flatList > dt::after {
  content: ': ';
}
dl.flatList > dd {
  margin: 0;
  margin-left: 0.5em;
}
#develop_input_movement {
  font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif;
}
#serverTickPopup {
  position: fixed;
  z-index: 2000;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  max-height: 95vh;
  max-width: 40em;
  background-color: white;
}
#serverTickPopup h2 {
  margin: 0;
}
#serverTickPopup > pre {
  white-space: pre-wrap;
  overflow-y: auto;
  padding: 0.7em;
  margin: 0;
}
#serverTickPopup > header,
#serverTickPopup footer {
  padding: 0.7em;
}
#develop_closeServerTickPopup {
  float: right;
}
