#gameUI * {
  box-sizing: border-box;
}
#minimap {
  width: 15%;
  padding-bottom: 15%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: Cornsilk;
  border: 10px solid Cornsilk;
}
#inventory {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.clickableItem {
  border-radius: 10%;
  width: 7vh;
  height: 7vh;
  color: white;
  font-size: 1.75vh;
  padding: 0.7vh;
  margin: 0.7vh;
  text-decoration: none;
  position: relative;
}
.clickableItem.empty {
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: none;
}
.clickableItem.empty > .itemIcon {
  display: none;
}
.clickableItem.filled {
  background-color: rgba(64, 64, 64, 0.6);
}
.clickableItem.active {
  background-color: rgba(255, 255, 255, 0.6);
}
.clickableItem > .count {
  position: absolute;
  bottom: 0;
  right: 0;
}
.clickableItem > .itemIcon {
  width: 100%;
}
#vitalSigns {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 22vw;
  height: 12vh;
}
#vitalSigns > .bar {
  margin: 0.7vh;
}
#vitalSigns > .bar > .indicator {
  height: 100%;
}
#healthBar {
  background-color: #840D25;
}
#healthBar > .indicator {
  background-color: crimson;
}
#satietyBar {
  background-color: #1E7A1E;
}
#satietyBar > .indicator {
  background-color: limegreen;
}
#bodyHeatBar {
  background-color: #125799;
}
#bodyHeatBar > .indicator {
  background-color: dodgerblue;
}
#crafting {
  position: absolute;
  top: 0;
  left: 0;
}
#crafting.1-columns {
  width: 7vh;
}
#crafting.2-columns {
  width: 14vh;
}
#crafting.3-columns {
  width: 21vh;
}
#crafting.4-columns {
  width: 28vh;
}
#crafting.5-columns {
  width: 35vh;
}
#crafting.6-columns {
  width: 42vh;
}
#crafting.7-columns {
  width: 49vh;
}
#crafting > .clickableItem {
  float: left;
}
#crafting > .clickableItem.newLine {
  clear: left;
}
