#gameUI {
	//box-sizing: border-box;
	//position: absolute;
	//top: 0;
	//right: 0;
	//bottom: 0;
	//left: 0;
	//pointer-events: none;

	* {
		box-sizing: border-box;
	}
}

#minimap {
	width: 15%;
	padding-bottom: 15%;

	position: absolute;
	bottom: 0;
	left: 0;

	background-color: Cornsilk;
	border: 10px solid Cornsilk;
}

@uiElementHeight: 7vh;

#inventory {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

	@slotSize: @uiElementHeight;

	> .inventorySlot {
		border-radius: 10%;
		width: @slotSize;
		height: @slotSize;
		color: white;
		font-size: (0.25 * @slotSize);
		padding: (0.1 * @slotSize);
		margin: (0.1 * @slotSize);
		text-decoration: none;

		&.empty {
			background-color: rgba(0, 0, 0, 0.6);
			pointer-events: none;

			> .itemIcon {
				display: none;
			}
		}

		&.filled {
			background-color: rgba(64, 64, 64, 0.6);
		}

		&.active {
			background-color: rgba(255, 255, 255, 0.6);
		}

		position: relative;

		> .count {
			position: absolute;
			bottom: 0;
			right: 0;
		}

		> .itemIcon {
			width: 100%;
		}
	}
}

#vitalSigns {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 22vw;
	height: 12vh;

	> .bar {
		margin: (0.1 * @uiElementHeight);

		> .indicator {
			height: 100%;
		}
	}
}

#healthBar {
	background-color: #840D25;

	> .indicator {
		background-color: crimson;
	}
}

#satietyBar {
	background-color: #1E7A1E;

	> .indicator {
		background-color: limegreen;
	}
}

#bodyHeatBar {
	background-color: #125799;

	> .indicator {
		background-color: dodgerblue;
	}
}