@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,700');
body {
  padding: 0;
  margin: 0;
}
body.loading > * {
  display: none;
}
canvas,
svg {
  display: block;
}
svg:focus {
  outline: none !important;
  box-shadow: none !important;
}
svg text {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
svg text::selection {
  background: none;
}
svg .clickable {
  cursor: pointer;
}
svg .clickable text {
  cursor: pointer;
}
.layout,
.layout-column,
.layout-row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.layout-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.layout-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.layout-row > .flex {
  min-width: 0;
}
.layout-column > .flex {
  min-height: 0;
}
.flex,
.flex-grow {
  -webkit-box-flex: 1;
  box-sizing: border-box;
}
.flex {
  -webkit-flex: 1;
  flex: 1;
}
body {
  font-family: 'Roboto', sans-serif;
}
h1 {
  margin: 0.67em;
}
#drawingContainer {
  margin-right: 30px;
}
#quadrantJson {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  resize: none;
  font-family: 'Roboto Mono', monospace;
}
#jsonStatus {
  padding: 1em;
  color: white;
  background-color: #03A9F4;
}
#jsonStatus.error {
  background-color: #F44336;
}
#jsonStatus.success {
  background-color: #4CAF50;
}
#jsonStatus.success + #renderButton {
  display: inline-block;
}
#renderButton {
  display: none;
}
#reference {
  padding: 1em;
  max-width: 14em;
}
#reference > :first-child {
  margin-top: 0;
}
#reference > ul {
  word-wrap: break-word;
  word-break: break-all;
}
#reference code {
  font-family: 'Roboto Mono', monospace;
}
#developPanel {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1em;
  min-width: 16em;
  z-index: 1000;
}
#developPanel > :first-child {
  margin-top: 0;
}
#developPanel > h2 {
  font-size: 1.2em;
}
#developPanel > table td,
#developPanel > table th {
  padding: 0.15em 0.25em;
}
#developPanel > table > tbody th {
  text-align: right;
  padding-right: 0.5em;
}
#developPanel > table > tbody > tr.separatorRow > th {
  text-align: center;
  padding-right: 0.25em;
}
#developPanel > table > tbody td {
  min-width: 6.35em;
}
#developPanel .good {
  color: #4CAF50;
}
#developPanel .neutral {
  color: #03A9F4;
}
#developPanel .bad {
  color: #F44336;
}

.toggleButton {
  color: white;
}

.toggleButton > .label::after {
  content: ':';
}

.toggleButton.on {
  background-color: #4CAF50;
}

.toggleButton.off {
  background-color: #F44336;
}

.actionButton {
    color: white;
    background-color: #03A9F4;
}

#serverTickPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 95vh;
    max-width: 40em;
    overflow-y: auto;
    padding: 0.7em;
    background-color: white;
}

#serverTickPopup.hidden {
    display: none;
}

#serverTickPopup > pre {
    white-space: pre-wrap;
}

#develop_closeServerTickPopup {
    float: right;
}
