@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,700');
@import "fonts/stylesheet.css";
body {
  padding: 0;
  margin: 0;
  font-family: 'stone-age', serif;
  font-size: 1.5rem;
  font-variant: small-caps;
  background-color: #006030;
  overflow: hidden;
}
canvas,
svg {
  display: block;
}
svg:focus {
  outline: none !important;
  box-shadow: none !important;
}
svg text {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font: inherit;
}
svg text::selection {
  background: none;
}
svg .clickable {
  cursor: pointer;
}
svg .clickable text {
  cursor: pointer;
}
code {
  font-size: 14px;
  font-family: 'Menlo', 'Noto Mono', 'Consolas', monospace;
  font-variant: normal;
}
.layout,
.layout-column,
.layout-row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.layout-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.layout-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.layout-row > .flex {
  min-width: 0;
}
.layout-column > .flex {
  min-height: 0;
}
.flex,
.flex-grow {
  -webkit-box-flex: 1;
  box-sizing: border-box;
}
.flex {
  -webkit-flex: 1;
  flex: 1;
}
.flex-5 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 5%;
  flex: 1 1 5%;
  box-sizing: border-box;
  max-width: 5%;
}
.flex-10 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 10%;
  flex: 1 1 10%;
  box-sizing: border-box;
  max-width: 10%;
}
.flex-15 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 15%;
  flex: 1 1 15%;
  box-sizing: border-box;
  max-width: 15%;
}
.flex-20 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 20%;
  flex: 1 1 20%;
  box-sizing: border-box;
  max-width: 20%;
}
.flex-25 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 25%;
  flex: 1 1 25%;
  box-sizing: border-box;
  max-width: 25%;
}
.flex-30 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 30%;
  flex: 1 1 30%;
  box-sizing: border-box;
  max-width: 30%;
}
.flex-35 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 35%;
  flex: 1 1 35%;
  box-sizing: border-box;
  max-width: 35%;
}
.flex-40 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 40%;
  flex: 1 1 40%;
  box-sizing: border-box;
  max-width: 40%;
}
.flex-45 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 45%;
  flex: 1 1 45%;
  box-sizing: border-box;
  max-width: 45%;
}
.flex-50 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
  flex: 1 1 50%;
  box-sizing: border-box;
  max-width: 50%;
}
.flex-55 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 55%;
  flex: 1 1 55%;
  box-sizing: border-box;
  max-width: 55%;
}
.flex-60 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 60%;
  flex: 1 1 60%;
  box-sizing: border-box;
  max-width: 60%;
}
.flex-65 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 65%;
  flex: 1 1 65%;
  box-sizing: border-box;
  max-width: 65%;
}
.flex-70 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 70%;
  flex: 1 1 70%;
  box-sizing: border-box;
  max-width: 70%;
}
.flex-75 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 75%;
  flex: 1 1 75%;
  box-sizing: border-box;
  max-width: 75%;
}
.flex-80 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 80%;
  flex: 1 1 80%;
  box-sizing: border-box;
  max-width: 80%;
}
.flex-85 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 85%;
  flex: 1 1 85%;
  box-sizing: border-box;
  max-width: 85%;
}
.flex-90 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 90%;
  flex: 1 1 90%;
  box-sizing: border-box;
  max-width: 90%;
}
.flex-95 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 95%;
  flex: 1 1 95%;
  box-sizing: border-box;
  max-width: 95%;
}
.flex-100 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 100%;
}
.flex-33 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 33.333%;
  flex: 1 1 33.333%;
  box-sizing: border-box;
  max-width: 33.333%;
}
.flex-66 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 66.666%;
  flex: 1 1 66.666%;
  box-sizing: border-box;
  max-width: 66.666%;
}
.layout-align,
.layout-align-start-stretch {
  -webkit-align-content: stretch;
  align-content: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.layout-align,
.layout-align-start,
.layout-align-start-center,
.layout-align-start-end,
.layout-align-start-start,
.layout-align-start-stretch {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.layout-align-center,
.layout-align-center-center,
.layout-align-center-end,
.layout-align-center-start,
.layout-align-center-stretch {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.layout-align-end,
.layout-align-end-center,
.layout-align-end-end,
.layout-align-end-start,
.layout-align-end-stretch {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.layout-align-space-around,
.layout-align-space-around-center,
.layout-align-space-around-end,
.layout-align-space-around-start,
.layout-align-space-around-stretch {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.layout-align-space-between,
.layout-align-space-between-center,
.layout-align-space-between-end,
.layout-align-space-between-start,
.layout-align-space-between-stretch {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.layout-align-center-start,
.layout-align-end-start,
.layout-align-space-around-start,
.layout-align-space-between-start,
.layout-align-start-start {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
.layout-align-center-center,
.layout-align-end-center,
.layout-align-space-around-center,
.layout-align-space-between-center,
.layout-align-start-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  max-width: 100%;
}
.layout-align-center-center > *,
.layout-align-end-center > *,
.layout-align-space-around-center > *,
.layout-align-space-between-center > *,
.layout-align-start-center > * {
  box-sizing: border-box;
}
.layout-align-center-end,
.layout-align-end-end,
.layout-align-space-around-end,
.layout-align-space-between-end,
.layout-align-start-end {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-align-content: flex-end;
  align-content: flex-end;
}
.layout-align-center-stretch,
.layout-align-end-stretch,
.layout-align-space-around-stretch,
.layout-align-space-between-stretch,
.layout-align-start-stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
}
.hidden {
  display: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  margin: 0 auto;
}
:not(.plural) > .plural-only {
  display: none;
}
.playerForm {
  position: relative;
  top: 35%;
  transform: translateY(-50%);
  width: 50vw;
  margin: 0 auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  border-radius: 0.7vh;
  font-size: 2rem;
}
.playerForm > .inputContainer {
  margin-bottom: 16px;
}
.playerForm > .submitContainer {
  position: relative;
}
.playerForm > label {
  cursor: pointer;
}
.playerForm .playerNameSubmit {
  background: none;
  color: white;
  border-radius: 0.7vh;
  padding: 0.5rem;
  line-height: 1;
  font: inherit;
  width: 100%;
  font-variant: none;
  border: 2px outset #dddddd;
}
.playerForm .playerNameSubmit:active {
  border-style: inset;
}
.playerForm .playerNameSubmit:focus {
  outline: none;
}
.playerForm .playerNameInput {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  margin-bottom: 1px;
  text-align: center;
  padding: 4px;
  color: white;
  font: inherit;
  font-variant: small-caps;
}
.playerForm .playerNameInput:focus {
  outline: none;
  border-bottom: 2px solid #e37313;
  margin-bottom: 0;
}
#mapEditor {
  font-family: 'Roboto', sans-serif;
}
h1 {
  margin: 0.67em;
}
#drawingContainer {
  margin-right: 30px;
}
#quadrantJson {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  resize: none;
  font-family: 'Roboto Mono', monospace;
}
#jsonStatus {
  padding: 1em;
  color: white;
  background-color: #03A9F4;
}
#jsonStatus.error {
  background-color: #F44336;
}
#jsonStatus.success {
  background-color: #4CAF50;
}
#jsonStatus.success + #renderButton {
  display: inline-block;
}
#renderButton {
  display: none;
}
#reference {
  padding: 1em;
  max-width: 14em;
}
#reference > :first-child {
  margin-top: 0;
}
#reference > ul {
  word-wrap: break-word;
  word-break: break-all;
}
#reference code {
  font-family: 'Roboto Mono', monospace;
}
#developPanel {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1em;
  min-width: 16em;
  z-index: 1000;
  font-size: 14px;
  font-family: 'Menlo', 'Noto Mono', 'Consolas', monospace;
  font-variant: normal;
}
#developPanel > .toolbar {
  text-align: right;
  line-height: 1.2;
}
#developPanel > .toolbar > a {
  color: inherit;
}
#developPanel .maximize-button {
  display: none;
}
#developPanel:target {
  overflow: hidden;
  max-height: 1.2em;
  padding: 0;
}
#developPanel:target .minimize-button {
  display: none;
}
#developPanel:target .maximize-button {
  display: inline;
}
#developPanel > :first-child {
  margin-top: 0;
}
#developPanel > h2 {
  font-size: 1.2em;
}
#developPanel > table td,
#developPanel > table th {
  padding: 0.15em 0.25em;
  vertical-align: top;
}
#developPanel > table > tbody th {
  text-align: right;
  padding-right: 0.5em;
}
#developPanel > table > tbody > tr.separatorRow > th {
  text-align: center;
  padding-right: 0.25em;
}
#developPanel > table > tbody td {
  min-width: 6.35em;
}
#developPanel > table > tbody td:nth-of-type(2) {
  min-width: 8.35em;
  max-width: 8.35em;
}
#developPanel > table > tbody td > h3 {
  font-size: inherit;
  text-align: center;
  margin: 0;
}
#developPanel .good {
  color: #4CAF50;
}
#developPanel .neutral {
  color: #03A9F4;
}
#developPanel .bad {
  color: #F44336;
}
.toggleButton {
  color: white;
}
.toggleButton > .label::after {
  content: ':';
}
.toggleButton.on {
  background-color: #4CAF50;
}
.toggleButton.off {
  background-color: #F44336;
}
.actionButton {
  color: white;
  background-color: #03A9F4;
}
.secondaryButton {
  color: white;
  background-color: #9E9E9E;
}
dl.flatList {
  float: left;
  width: 100%;
  clear: both;
  margin: 0;
}
dl.flatList > dt,
dl.flatList dd {
  float: left;
}
dl.flatList > dt {
  clear: left;
}
dl.flatList > dt::after {
  content: ': ';
}
dl.flatList > dd {
  margin: 0;
  margin-left: 0.5em;
}
#develop_input_movement {
  font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif;
}
#serverTickPopup {
  position: fixed;
  z-index: 2000;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  max-height: 95vh;
  max-width: 40em;
  background-color: white;
}
#serverTickPopup h2 {
  margin: 0;
}
#serverTickPopup > pre {
  white-space: pre-wrap;
  overflow-y: auto;
  padding: 0.7em;
  margin: 0;
}
#serverTickPopup > header,
#serverTickPopup footer {
  padding: 0.7em;
}
#develop_closeServerTickPopup {
  float: right;
}
#groundTexturePanel {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1em;
  max-width: 190px;
  z-index: 1000;
  font-size: 14px;
  font-family: 'Menlo', 'Noto Mono', 'Consolas', monospace;
  font-variant: normal;
}
#groundTexturePanel > .toolbar {
  text-align: right;
  line-height: 1.2;
}
#groundTexturePanel > .toolbar > a {
  color: inherit;
}
#groundTexturePanel .maximize-button {
  display: none;
}
#groundTexturePanel:target {
  overflow: hidden;
  max-height: 1.2em;
  padding: 0;
}
#groundTexturePanel:target .minimize-button {
  display: none;
}
#groundTexturePanel:target .maximize-button {
  display: inline;
}
#groundTexturePanel > :first-child {
  margin-top: 0;
}
#groundTexturePanel > h2 {
  font-size: 1.2em;
}
#groundTexturePanel > table td,
#groundTexturePanel > table th {
  padding: 0.15em 0.25em;
}
#groundTexturePanel > table > tbody th {
  text-align: right;
  padding-right: 0.5em;
}
#groundTexturePanel > table > tbody > tr.separatorRow > th {
  text-align: center;
  padding-right: 0.25em;
}
#groundTexturePanel > table > tbody td {
  min-width: 6.35em;
}
#groundTexturePanel > table > tbody td > h3 {
  font-size: inherit;
  text-align: center;
  margin-bottom: 0;
}
#groundTexturePanel .good {
  color: #4CAF50;
}
#groundTexturePanel .neutral {
  color: #03A9F4;
}
#groundTexturePanel .bad {
  color: #F44336;
}
#groundTexturePanel .group {
  margin-top: 1em;
}
#groundTexturePanel label {
  display: block;
}
#groundTexturePopup {
  position: fixed;
  z-index: 2000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 95vh;
  max-width: 40em;
  background-color: white;
}
#groundTexturePopup h2 {
  margin: 0;
}
#groundTexturePopup > pre {
  white-space: pre-wrap;
  overflow-y: auto;
  padding: 0.7em;
  margin: 0;
}
#groundTexturePopup > header,
#groundTexturePopup footer {
  padding: 0.7em;
}
#groundTexture_closePopup {
  float: right;
}
#gameUI.hidden {
  display: block;
  visibility: hidden;
}
#gameUI * {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#gameUI *::selection {
  background: none;
}
#minimap {
  width: 15vw;
  height: 15vw;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 248, 220, 0.5);
  border: 0.3vw solid rgba(255, 248, 220, 0.5);
  background-clip: content-box;
  margin-bottom: 0.3vw;
  margin-left: 0.3vw;
  border-radius: 50%;
}
#minimap > .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#inventory {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#inventory.overfilled > .inventorySlot {
  animation: red-flash 700ms ease-in-out;
}
#inventory > .inventorySlot {
  position: relative;
}
#inventory > .inventorySlot.activeAutoFeed > .autoFeedToggle {
  background-color: rgba(50, 205, 50, 0.6);
}
#inventory > .inventorySlot.activeAutoFeed > .autoFeedToggle > svg * {
  fill: white;
}
#inventory > .inventorySlot.activeAutoFeed > .clickableItem {
  border: 2px solid limegreen;
}
#inventory > .inventorySlot.eating > .clickableItem {
  animation: green-flash 700ms ease-in-out;
}
#inventory > .inventorySlot > .autoFeedToggle {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -18px;
  padding: 6px;
  width: 36px;
  height: 36px;
  border-radius: 0.7vh;
  background-color: rgba(64, 64, 64, 0.6);
}
#inventory > .inventorySlot > .autoFeedToggle > svg {
  max-width: 100%;
  max-height: 100%;
}
#inventory > .inventorySlot > .autoFeedToggle > svg * {
  fill: limegreen;
}
@keyframes red-flash {
  40%,
  60% {
    background-color: crimson;
  }
}
@keyframes green-flash {
  40%,
  60% {
    background-color: limegreen;
  }
}
.clickableItem,
.craftableItem {
  border-radius: 10%;
  width: 7vh;
  height: 7vh;
  color: white;
  font-size: 1.75vh;
  margin: 0.7vh;
  text-decoration: none;
  display: block;
  overflow: hidden;
  z-index: 1;
  position: relative;
}
.clickableItem {
  padding: 0.7vh;
}
.clickableItem.empty {
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: none;
}
.clickableItem.empty > .itemIcon {
  display: none;
}
.clickableItem.filled {
  background-color: rgba(64, 64, 64, 0.6);
}
.clickableItem.clickable {
  cursor: pointer;
}
.clickableItem.active {
  background-color: rgba(255, 255, 255, 0.6);
}
.clickableItem > .count {
  position: absolute;
  bottom: 0;
  right: 0;
}
.clickableItem > .itemIcon {
  width: 100%;
  display: block;
}
#crafting {
  position: absolute;
  top: 0;
  left: 0;
}
.craftableItem {
  float: left;
}
.craftableItem.newLine {
  clear: left;
}
.craftableItem > .iconBackground {
  padding: 0.7vh;
  width: 100%;
  height: 100%;
}
.craftableItem.empty {
  pointer-events: none;
}
.craftableItem.empty > .iconBackground {
  background-color: rgba(0, 0, 0, 0.6);
}
.craftableItem.empty > .iconBackground > .itemIcon {
  display: none;
}
.craftableItem.filled {
  cursor: pointer;
}
.craftableItem.filled > .iconBackground {
  background-color: rgba(64, 64, 64, 0.6);
}
.craftableItem.active > .iconBackground {
  background-color: rgba(255, 255, 255, 0.6);
}
.craftableItem .itemIcon {
  width: 100%;
}
.craftableItem > .subIcon.primary,
.craftableItem > .subIconRow {
  display: none;
}
.craftableItem > .subIcon.primary {
  position: absolute;
  top: 0;
  left: 0;
  width: 33.333%;
  background-color: rgba(64, 64, 64, 0.6);
}
.craftableItem > .subIcon.primary > .itemIcon {
  display: block;
}
.craftableItem > .subIconRow {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(64, 64, 64, 0.6);
}
.craftableItem > .subIconRow > .subIcon {
  position: relative;
  font-size: 11px;
}
.craftableItem > .subIconRow > .subIcon > .itemIcon {
  display: block;
  margin: 0 auto 20%;
}
.craftableItem > .subIconRow > .subIcon > .count {
  text-align: right;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.craftableItem.hinted {
  cursor: default;
}
.craftableItem.hinted > .iconBackground {
  background-color: rgba(0, 0, 0, 0.6);
}
.craftableItem.hinted > .iconBackground > .itemIcon {
  display: block;
  width: 80%;
  opacity: 0.7;
}
.craftableItem.hinted.upgrade > .iconBackground {
  -webkit-mask-image: url('../img/userInterface/hintedCraftMask_upgrade.svg');
  mask-image: url('../img/userInterface/hintedCraftMask_upgrade.svg');
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.craftableItem.hinted.upgrade > .iconBackground > .itemIcon {
  margin-left: auto;
  margin-top: 20%;
}
.craftableItem.hinted.upgrade > .subIcon.primary {
  display: block;
}
.craftableItem.hinted.withIngredients > .iconBackground {
  -webkit-mask-image: url('../img/userInterface/hintedCraftMask_ingredients.svg');
  mask-image: url('../img/userInterface/hintedCraftMask_ingredients.svg');
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.craftableItem.hinted.withIngredients > .iconBackground > .itemIcon {
  margin: 0 auto;
}
.craftableItem.hinted.withIngredients > .subIconRow {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.craftableItem.hinted.upgrade.withIngredients > .iconBackground {
  -webkit-mask-image: url('../img/userInterface/hintedCraftMask2.svg');
  mask-image: url('../img/userInterface/hintedCraftMask2.svg');
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.craftableItem.hinted.upgrade.withIngredients > .iconBackground > .itemIcon {
  margin-right: 0;
  margin-left: auto;
}
.craftableItem.inProgress {
  cursor: default;
}
.craftableItem > .progressOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 0, 0.5);
}
#vitalSigns {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 22vw;
  height: 12vh;
}
#vitalSigns > .bar {
  margin: 0.7vh;
  position: relative;
  z-index: 1;
}
#vitalSigns > .bar > .indicator,
#vitalSigns > .bar > .previousIndicator {
  height: 100%;
}
#vitalSigns > .bar > .previousIndicator {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  z-index: -1;
}
#healthBar {
  background-color: #840D25;
}
#healthBar > .indicator {
  background-color: crimson;
}
#satietyBar {
  background-color: #1E7A1E;
}
#satietyBar > .indicator {
  background-color: limegreen;
}
#bodyHeatBar {
  background-color: #125799;
}
#bodyHeatBar > .indicator {
  background-color: dodgerblue;
}
#chat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -59.8px);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.7vh;
  border-radius: 0.7vh;
  min-height: 1.3em;
}
#chatInput {
  display: block;
  min-width: 1em;
  color: white;
  text-align: center;
}
#chatInput:focus {
  box-shadow: none;
  outline: none;
}
#scoreboard {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0.7vh;
  padding: 0.7vh;
  border-radius: 0.7vh;
  color: white;
  font-size: 0.7em;
  line-height: 1.4;
}
#startScreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
#startScreen > header {
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: -12vh;
  text-align: center;
  letter-spacing: 0.04em;
  color: #e37313;
  text-shadow: #ffffff 5px 0 0, #ffffff 4.9px 1px 0, #ffffff 4.6px 1.95px 0, #ffffff 4.13333px 2.81667px 0, #ffffff 3.48333px 3.58333px 0, #ffffff 2.7px 4.2px 0, #ffffff 1.81667px 4.66667px 0, #ffffff 0.85px 4.93333px 0, #ffffff -0.15px 5px 0, #ffffff -1.13333px 4.86667px 0, #ffffff -2.08333px 4.55px 0, #ffffff -2.95px 4.05px 0, #ffffff -3.68333px 3.38333px 0, #ffffff -4.28333px 2.58333px 0, #ffffff -4.71667px 1.66667px 0, #ffffff -4.95px 0.7px 0, #ffffff -4.98333px -0.3px 0, #ffffff -4.83333px -1.28333px 0, #ffffff -4.48333px -2.21667px 0, #ffffff -3.95px -3.06667px 0, #ffffff -3.26667px -3.78333px 0, #ffffff -2.45px -4.35px 0, #ffffff -1.53333px -4.75px 0, #ffffff -0.566667px -4.96667px 0, #ffffff 0.433333px -4.98333px 0, #ffffff 1.41667px -4.8px 0, #ffffff 2.35px -4.41667px 0, #ffffff 3.16667px -3.86667px 0, #ffffff 3.88333px -3.15px 0, #ffffff 4.43333px -2.31667px 0, #ffffff 4.8px -1.4px 0, #ffffff 4.98333px -0.416667px 0;
}
#startScreen > header div {
  position: relative;
  top: 30%;
  margin-top: -7vw;
}
#startScreen > header > h1 {
  font-size: 18vw;
  margin: 0;
}
#startScreen > .playerForm {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#startScreen.loading #hunter {
  opacity: 0;
}
#startScreen.loading > .infoContainer {
  background-color: rgba(0, 0, 0, 0.6);
}
#startScreen.loading .playerNameSubmit {
  font-variant: small-caps;
}
#startScreen.finished #splashScreen {
  opacity: 0;
}
#startScreen > .infoContainer {
  position: absolute;
  color: white;
  padding: 0 0.5rem;
  transition: background-color 1s;
  border-radius: 0.7vh;
}
#startScreen > .infoContainer a:link,
#startScreen > .infoContainer a:visited,
#startScreen > .infoContainer a:hover,
#startScreen > .infoContainer a:active,
#startScreen > .infoContainer a:focus {
  color: inherit;
}
#startScreen > .infoContainer.center {
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
#startScreen > .infoContainer.bottom {
  bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#startScreen > .infoContainer > p {
  margin: 0.5rem 0;
}
#splashScreen {
  background-color: #2FA107;
  background-image: url('../img/userInterface/loadingScreen.jpg');
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: opacity 1s;
}
#hunter {
  height: 60vh;
  transition: all 1s;
  transition-property: visibility, opacity;
}
#chromeWarning > .warning {
  font-weight: normal;
  font-style: normal;
  font-size: 1.7em;
  color: crimson;
  text-align: center;
}
#chromeWarning > p {
  margin: 1rem 0;
}
#chromeWarning .button {
  background-color: #e37313;
  color: white;
  border-radius: 0.7vh;
  padding: 0.5rem;
  line-height: 1;
  font: inherit;
  width: 100%;
  font-variant: none;
  text-align: center;
  text-decoration: none;
  border: 2px outset #dddddd;
}
#chromeWarning .button:active {
  border-style: inset;
}
#chromeWarning .button:focus {
  outline: none;
}
#loadingBar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: #e37313;
  z-index: -1;
  border-radius: 0.7vh;
  transition: opacity 1s;
}
#endScreen {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}
#endScreen.showing {
  display: block;
  animation: endScreen-fadeIn 0.5s forwards ease-in-out;
}
#endScreen.showing .title {
  animation: endScreen-fadeIn 5s 0.25s forwards ease-in-out, endScreen-title 2.5s 0.25s forwards ease-in-out;
}
#endScreen.showing > .obituary {
  animation: endScreen-fadeIn 2s 1.83333333s forwards ease-in-out;
}
#endScreen.showing > .playerForm {
  animation: endScreen-fadeIn 0.18s 2.75s forwards ease-in-out;
}
#endScreen > .titleContainer {
  position: relative;
  top: 25%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  height: 16vw;
}
#endScreen .title {
  text-align: center;
  margin: 0;
  position: relative;
  top: 10vw;
  transform: translateY(-68%);
  font-size: 17vw;
  color: black;
  text-shadow: #ff0025 5px 0 0, #ff0025 4.9px 1px 0, #ff0025 4.6px 1.95px 0, #ff0025 4.13333px 2.81667px 0, #ff0025 3.48333px 3.58333px 0, #ff0025 2.7px 4.2px 0, #ff0025 1.81667px 4.66667px 0, #ff0025 0.85px 4.93333px 0, #ff0025 -0.15px 5px 0, #ff0025 -1.13333px 4.86667px 0, #ff0025 -2.08333px 4.55px 0, #ff0025 -2.95px 4.05px 0, #ff0025 -3.68333px 3.38333px 0, #ff0025 -4.28333px 2.58333px 0, #ff0025 -4.71667px 1.66667px 0, #ff0025 -4.95px 0.7px 0, #ff0025 -4.98333px -0.3px 0, #ff0025 -4.83333px -1.28333px 0, #ff0025 -4.48333px -2.21667px 0, #ff0025 -3.95px -3.06667px 0, #ff0025 -3.26667px -3.78333px 0, #ff0025 -2.45px -4.35px 0, #ff0025 -1.53333px -4.75px 0, #ff0025 -0.566667px -4.96667px 0, #ff0025 0.433333px -4.98333px 0, #ff0025 1.41667px -4.8px 0, #ff0025 2.35px -4.41667px 0, #ff0025 3.16667px -3.86667px 0, #ff0025 3.88333px -3.15px 0, #ff0025 4.43333px -2.31667px 0, #ff0025 4.8px -1.4px 0, #ff0025 4.98333px -0.416667px 0;
  opacity: 0;
}
#endScreen > .obituary {
  position: relative;
  top: 19%;
  margin: 0;
  margin-bottom: -1em;
  color: white;
  font-size: 2rem;
  text-align: center;
  opacity: 0;
}
#endScreen > .playerForm {
  opacity: 0;
}
#endScreen .playerNameSubmit {
  background-color: #e37313;
}
@keyframes endScreen-fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes endScreen-title {
  to {
    font-size: 20vw;
  }
}
#console {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40vh;
  min-height: 15em;
  transform: translateY(-100%);
  transition: transform 1s;
  background-color: black;
  color: #e37313;
  font-family: 'Menlo', 'Noto Mono', 'Consolas', monospace;
}
#console.showing {
  transform: translateY(0);
}
#console::AFTER {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20px;
  background-color: inherit;
}
#console_history {
  overflow-y: auto;
}
#console_command {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  margin-right: 20px;
}
#console_command:focus {
  outline: none;
  box-shadow: none;
}
#tutorial {
  position: fixed;
  top: 20vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  pointer-events: none;
  font-size: 3.33em;
  color: white;
  max-width: 960px;
}
#tutorial > .tutorialStep {
  display: none;
  transition: opacity 350ms 540ms;
}
#tutorial > .tutorialStep.active {
  display: block;
}
#tutorial > .tutorialStep.done {
  opacity: 0;
  display: block;
  color: #4CAF50;
}
#tutorial > .tutorialStep.done + .active {
  display: none;
}
