#gameUI {
	&.hidden {
		display: block;
		visibility: hidden;
	}

	* {
		box-sizing: border-box;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		&::selection {
			background: none;
		}
	}
}

#minimap {
	width: 15vw;
	height: 15vw;

	position: absolute;
	bottom: 0;
	left: 0;

	background-color: Cornsilk;
	border: 0.3vw solid Cornsilk;

	border-radius: 50%;

	> .wrapper {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}

@uiElementHeight: 7vh;
@slotSize: @uiElementHeight;

#inventory {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.clickableItem {
	border-radius: 10%;
	width: @slotSize;
	height: @slotSize;
	color: white;
	font-size: (0.25 * @slotSize);
	padding: (0.1 * @slotSize);
	margin: (0.1 * @slotSize);
	text-decoration: none;

	&.empty {
		background-color: rgba(0, 0, 0, 0.6);
		pointer-events: none;

		> .itemIcon {
			display: none;
		}
	}

	&.filled {
		background-color: rgba(64, 64, 64, 0.6);
	}

	&.active {
		background-color: rgba(255, 255, 255, 0.6);
	}

	position: relative;

	> .count {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	> .itemIcon {
		width: 100%;
	}
}

.craftableItem {
	overflow: hidden;

	> .progressOverlay {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		background-color: rgba(255, 255, 0, 0.5);

		z-index: 1; // Fixes the ignored overflow:hidden of the parent
	}
}

#vitalSigns {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 22vw;
	height: 12vh;

	> .bar {
		margin: (0.1 * @uiElementHeight);

		> .indicator {
			height: 100%;
		}
	}
}

#healthBar {
	background-color: #840D25;

	> .indicator {
		background-color: crimson;
	}
}

#satietyBar {
	background-color: #1E7A1E;

	> .indicator {
		background-color: limegreen;
	}
}

#bodyHeatBar {
	background-color: #125799;

	> .indicator {
		background-color: dodgerblue;
	}
}

#crafting {
	position: absolute;
	top: 0;
	left: 0;

	.columnsLoop(@counter) when (@counter > 0) {
		.columnsLoop((@counter - 1));

		&.columns-@{counter} {
			width: (@counter * @slotSize);
		}
	}

	.columnsLoop(7);

	> .clickableItem {
		float: left;

		&.newLine {
			clear: left;
		}
	}
}

#chat {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -1.3px * (30 + 16));

	background-color: rgba(0, 0, 0, 0.6);

	padding: (0.1 * @slotSize);
	border-radius: (0.1 * @slotSize);

	min-height: 1.3em;
}

#chatInput {
	display: block;
	min-width: 1em;
	color: white;
	text-align: center;

	&:focus {
		box-shadow: none;
		outline: none;
	}
}