#gameUI {
	&.hidden {
		display: block;
		visibility: hidden;
	}

	* {
		box-sizing: border-box;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		&::selection {
			background: none;
		}
	}
}

#minimap {
	width: 15vw;
	height: 15vw;

	position: absolute;
	bottom: 0;
	left: 0;

	background-color: fade(Cornsilk, 50%);
	border: 0.3vw solid fade(Cornsilk, 50%);
	background-clip: content-box; // don't let the background mix with the border

	margin-bottom: 0.3vw;
	margin-left: 0.3vw;

	border-radius: 50%;

	> .wrapper {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}

@uiElementHeight: 7vh;
@slotSize: @uiElementHeight;

#inventory {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

	&.overfilled {
		> .inventorySlot {
			animation: red-flash 700ms ease-in-out;
		}
	}
}

@keyframes red-flash {
	40%, 60% {
		background-color: crimson;
	}
}

.clickableItem,
.craftableItem {
	border-radius: 10%;
	width: @slotSize;
	height: @slotSize;
	color: white;
	font-size: (0.25 * @slotSize);
	margin: (0.1 * @slotSize);
	text-decoration: none;
	display: block;

	overflow: hidden;
	z-index: 1; // Fixes the ignored overflow:hidden of the children

	// Contain absolutely positioned elements like counts and progress bars
	position: relative;
}

.clickableItem {
	padding: (0.1 * @slotSize);

	&.empty {
		background-color: rgba(0, 0, 0, 0.6);
		pointer-events: none;

		> .itemIcon {
			display: none;
		}
	}

	&.filled {
		cursor: pointer;
		background-color: rgba(64, 64, 64, 0.6);
	}

	&.active {
		background-color: rgba(255, 255, 255, 0.6);
	}

	> .count {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	> .itemIcon {
		width: 100%;
		display: block;
	}
}

#crafting {
	position: absolute;
	top: 0;
	left: 0;
}

.craftableItem {
	float: left;

	&.newLine {
		clear: left;
	}

	> .iconBackground {
		padding: (0.1 * @slotSize);
		width: 100%;
		height: 100%;
	}

	&.empty {
		> .iconBackground {
			background-color: rgba(0, 0, 0, 0.6);

			> .itemIcon {
				display: none;
			}
		}
		pointer-events: none;
	}

	&.filled {
		> .iconBackground {
			background-color: rgba(64, 64, 64, 0.6);
		}
	}

	&.active {
		> .iconBackground {
			background-color: rgba(255, 255, 255, 0.6);
		}
	}

	> .subIcon.primary,
	> .subIconRow {
		display: none;
	}

	&.hinted {

		// there's an icon in the top left corner
		.upgrade {
			> .subIcon.primary {
				display: block;
			}
		}

		// there are icons in bottom row
		.with-ingredients {
			> .subIconRow {
				display: block;
			}
		}

		> .iconBackground {
			//background-color: rgba(255, 255, 255, 0.6);

			-webkit-mask-image: url('../img/hintedCraftMask2.svg');
			mask-image: url('../img/hintedCraftMask2.svg');
			-webkit-mask-size: 100% 100%;
			mask-size: 100% 100%;

			> .itemIcon {
				opacity: 0.5;

				//width: 66%;
				margin-left: auto;
				//margin-top: 17%;
				width: 80%;
				//margin: 0 auto;

				display: block;

				//-webkit-mask-image: url('../img/hintedCraftMask.svg');
				//mask-image: url('../img/hintedCraftMask.svg');
				//-webkit-mask-size: 100% 100%;
				//mask-size: 100% 100%;
			}
		}
	}

	.itemIcon {
		width: 100%;
	}

	&.inProgress {
		cursor: default;
	}

	> .subIcon.primary {
		position: absolute;
		top: 0;
		left: 0;
		width: 33.333%;
		//background: rgb(64, 64, 64);
		background-color: rgba(0, 0, 0, 0.6);

		> .itemIcon {
			width: 100%;
			display: block;
		}
	}

	> .subIconRow {
		position: absolute;
		bottom: 0;
		left: 0;
		//height: 33.333%; // height is determined by height of children
		//float: left;
		//background: rgb(64, 64, 64);
		background-color: rgba(0, 0, 0, 0.6);

		&.layout-column {
			top: 0;
			width: 33.333%;

			> .subIcon {
				> .count,
				> .itemIcon {
					width: 50%;
				}

				> .count {
					max-width: 50%;
				}
			}
		}

		&.layout-row {
			right: 0;

			> .subIcon {
				> .count,
				> .itemIcon {
				}

				> .itemIcon {
					width: 50%;
					display: block;
					margin: 0 auto;
				}

				> .count {
					text-align: center;
				}
			}
		}

		> .subIcon {
			//float: left;
			//width: 33.333%;

			> .count,
			> .itemIcon {
				//float: left;
				//width: 50%;
			}

			> .count {
				overflow: hidden;
				//max-width: 50%;
			}
		}
	}

	> .progressOverlay {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		background-color: rgba(255, 255, 0, 0.5);
	}
}

.subIcon {
	&.hidden {
		display: block;
		visibility: hidden;
	}
}

#vitalSigns {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 22vw;
	height: 12vh;

	> .bar {
		margin: (0.1 * @uiElementHeight);

		> .indicator {
			height: 100%;
		}
	}
}

#healthBar {
	background-color: #840D25;

	> .indicator {
		background-color: crimson;
	}
}

#satietyBar {
	background-color: #1E7A1E;

	> .indicator {
		background-color: limegreen;
	}
}

#bodyHeatBar {
	background-color: #125799;

	> .indicator {
		background-color: dodgerblue;
	}
}

#chat {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -1.3px * (30 + 16));

	background-color: @backgroundColor;

	padding: (0.1 * @slotSize);
	border-radius: (0.1 * @slotSize);

	min-height: 1.3em;
}

#chatInput {
	display: block;
	min-width: 1em;
	color: white;
	text-align: center;

	&:focus {
		box-shadow: none;
		outline: none;
	}
}

#scoreboard {
	position: absolute;
	top: 0;
	right: 0;
	background-color: @backgroundColor;
	margin: (0.1 * @uiElementHeight);
	padding: (0.1 * @uiElementHeight);
	border-radius: (0.1 * @uiElementHeight);

	color: white;
	font-size: 0.7em;
	line-height: 1.4;
}