<div id="gameUI" class="hidden">
	<div id="crafting">
		<a href="#" class="clickableItem craftableItem empty">
			<img src="" class="itemIcon"/>
			<span class="count"></span>
		</a>
	</div>

	<div id="minimap" class="hidden">
		<!-- two instance here, to display minimap icons -->
	</div>

	<div id="inventory" class="layout-row">
		<!-- States are:
				- empty
				- filled
				- filled active -->
		<a href="#" class="clickableItem inventorySlot empty">
			<img src="" class="itemIcon"/>
			<span class="count"></span>
		</a>
	</div>

	<div id="vitalSigns" class="layout-column">
		<div id="healthBar" class="bar flex">
			<div class="indicator"></div>
		</div>
		<div id="satietyBar" class="bar flex">
			<div class="indicator"></div>
		</div>
		<div id="bodyHeatBar" class="bar flex">
			<div class="indicator"></div>
		</div>
	</div>
</div>