<section>
    <div id="groundTexturePanel">
        <div class="toolbar">
            <a href="#groundTexturePanel" class="minimize-button">Minimize</a>
            <a href="#" class="maximize-button">Maximize</a>
        </div>

        <!-- Controls to  -->
    </div>

    <div id="groundTexturePopup" class="hidden layout-column">
        <header>
            <h2>Placed Ground Textures</h2>
        </header>
        <pre class="flex"><code id="groundTextureOutput"></code></pre>
        <footer>
            <button id="groundTexture_closePopup" class="actionButton">
                Close
            </button>
        </footer>
    </div>
</section>