<div id="startScreen" class="loading">
	<div id="splashScreen"></div>

	<header class="layout-row">
		<img id="hunter" src="img/hunter.png"/>
		<h1>BerryHunter</h1>
	</header>

	<form id="startForm" class="playerForm layout-column">
		<div class="inputContainer layout-row">
			<input class="playerNameInput flex"
				   placeholder="Some Name"
				   maxlength="20"
				   tabindex="0" autofocus/>
		</div>
		<div class="submitContainer">
			<input type="submit" value="Loading..." class="playerNameSubmit" disabled="disabled"/>
			<div id="loadingBar"></div>
		</div>
	</form>

	<!-- Loading overlays everything -->
	<div id="loadingScreen" class="hidden">
		<div id="loadingWrapper">
			<!--<div id="loadingBar"></div>-->
			<h2>Loading…</h2>
		</div>
	</div>

	<div class="infoContainer center bottom">
		<p>A game by
			<a href="http://rza.io" target="_blank">Raoul Zander</a>
			<small>(Frontend)</small>
			,
			<a href="http://trichner.ch" target="_blank">Thomas Richner</a>
			<small>(Master Coder)</small>
			and Xyck
			<small>(Graphics)</small>
			.
		</p>
		<p>
			<small>Special thanks to
				<a href="https://www.linkedin.com/in/sebastian-galli-936438122/">S. Galli</a>, L. Velten and Dangku.
			</small>
		</p>
	</div>
</div>