<div id="tutorial">
    <div id="tutorial_movement" class="tutorialStep">
        Walk around with WASD or arrow keys
    </div>

    <div id="tutorial_rotate" class="tutorialStep">
        Look around with mouse
    </div>

    <div id="tutorial_action" class="tutorialStep">
        Click or use [Space] to gather resources or attack
    </div>

    <div id="tutorial_yield" class="tutorialStep">
        Gather some wood
    </div>

    <div id="tutorial_craft" class="tutorialStep">
        "You can craft items using the guidance shown in the top left corner.<br/>
        Go ahead and craft a wood club from 10 wood."
    </div>

    <div id="tutorial_equip" class="tutorialStep">
        Now equip your club by clicking it in your inventory.
    </div>

    <div id="tutorial_fire" class="tutorialStep">
        It's pretty cold. Craft a campfire out of 30 wood and 5 stone.
    </div>

    <div id="tutorial_placing" class="tutorialStep">
        Now select the campfire from your inventory and place it<br/>
        on the ground using click or space or E.
    </div>

    <div id="tutorial_eating" class="tutorialStep">
        "One last thing: Gather some berries so you don't starve to death.<br/>
        You can consume food by clicking it in your inventory."
    </div>

    <div id="tutorial_finish" class="tutorialStep">
        That's it. Get out there and try to survive as long possible!
    </div>

    <div id="tutorialPointer" class="hidden">
        <img src="img/userInterface/pointer.svg"/>
    </div>
</div>