<div id="tutorial">
    <div id="tutorial_movement" class="tutorialStep">
        Walk around with WASD or arrow keys
    </div>

    <div id="tutorial_rotate" class="tutorialStep">
        Look around with mouse
    </div>

    <div id="tutorial_action" class="tutorialStep">
        Attack and gather resources with click or [Space]
    </div>

    <div id="tutorial_yield" class="tutorialStep">
        Gather some wood
    </div>

    <div id="tutorial_craft" class="tutorialStep">
        You can craft items with the guidance shown top left.<br/>
        Go ahead and craft a wood club from 10 wood.
    </div>

    <div id="tutorial_equip" class="tutorialStep">
        Now equip your club by clicking it in your inventory.
    </div>

    <div id="tutorial_fire" class="tutorialStep">
        It's pretty cold. Craft yourself a campfire for 30 wood and 5 stone.
    </div>

    <div id="tutorial_placing" class="tutorialStep">
        Now place the campfire by clicking it and than click or space or E
    </div>

    <div id="tutorial_eating" class="tutorialStep">
        The last thing: Gather and eat some berries to not starve to death.<br/>
        You can consume food by clicking it in your inventory.
    </div>

    <div id="tutorial_finish" class="tutorialStep">
        That's it. Go out there and try to survive as long possible!
    </div>

    <div id="tutorialPointer" class="hidden">
        <img src="img/userInterface/pointer.svg"/>
    </div>
</div>