<div id="tutorial">
    <div id="tutorial_movement" class="tutorialStep">
        Walk around with WASD or arrow keys
    </div>

    <div id="tutorial_rotate" class="tutorialStep">
        Look around with mouse
    </div>

    <div id="tutorial_action" class="tutorialStep">
        Attack and gather resources with click or [Space]
    </div>

    <div id="tutorial_yield" class="tutorialStep">
        Gather some wood
    </div>

    <div id="tutorial_craft" class="tutorialStep">
        You can craft items with the guidance shown top left.
    </div>

    <div id="tutorialPointer" class="hidden">
        <img src="img/userInterface/pointer.svg"/>
    </div>
</div>