<div id="gameUI" class="hidden">
	<div id="crafting">
		<a href="#" class="clickableItem craftableItem empty">
			<img src="" class="itemIcon"/>
			<span class="count"></span>
			<div class="progressOverlay hidden"></div>
		</a>
	</div>

	<div id="minimap">
		<div class="wrapper">
			<!-- pixi.js instance here, to display minimap icons -->
		</div>
	</div>

	<div id="vitalSigns" class="layout-column">
		<div id="healthBar" class="bar flex">
			<div class="indicator"></div>
		</div>
		<div id="satietyBar" class="bar flex">
			<div class="indicator"></div>
		</div>
		<div id="bodyHeatBar" class="bar flex">
			<div class="indicator"></div>
		</div>
	</div>

	<div id="inventory" class="layout-row">
		<!-- States are:
				- empty
				- filled
				- filled active -->
		<a href="#" class="clickableItem inventorySlot empty">
			<img src="" class="itemIcon"/>
			<span class="count"></span>
		</a>
	</div>

	<div id="chat" class="hidden">
		<span id="chatInput" contenteditable="true"></span>
	</div>
</div>