<table class="article-table">
    <tr>
        <th>Name</th>
        <th>Icon</th>
        <th>Type</th>
        <th>Factors</th>
        <th>Recipe</th>
        <th>Required Building</th>
        <th>Craft Time</th>
    </tr>
    {{#.}}
        <tr>
            <td>{{name}}</td>
            <td>{{#iconFile}}[[File:{{iconFile}}]]{{/iconFile}}{{^iconFile}}No icon{{/iconFile}}</td>
            <td><b>{{type}}</b>{{#subtypes}}
                <p>{{subtypes}}</p>{{/subtypes}}</td>
            <td>
                <ul>
                    {{#factors}}
                        {{#link}}<li>[[{{link}}|{{name}}]]: {{value}}</li>{{/link}}
                        {{^link}}<li>{{name}}: {{value}}</li>{{/link}}
                    {{/factors}}
                </ul>
            </td>
            <td>
                <ul>
                    {{#materials}}
                        <li>{{count}} {{item}}</li>
                    {{/materials}}
                </ul>
            </td>
            <td>{{tools}}</td>
            <td>{{craftTime}}</td>
        </tr>
        <tr>
            <td colspan="6">{{description}}</td>
        </tr>
    {{/.}}
</table>
